@import url('https://fonts.googleapis.com/css?family=Economica|Open+Sans|Roboto+Mono');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    text-align: justify;
}

h1 {
    font-family: 'Economica', sans-serif;
    font-size: 16pt;
    font-weight: normal;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    font-weight: normal;
    color: #434343;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    font-weight: normal;
    color: #434343;
}

ul#toc-contents {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.toc-h1 {
    padding-left: 0cm;
    margin-left: 0;
}

.toc-h2 {
    padding-left: 0.5cm;
    margin-left: 0;
}

.toc-h3 {
    padding-left: 1cm;
    margin-left: 0;
}

.toc-h4 {
    padding-left: 1.5cm;
    margin-left: 0;
}

.toc-h5 {
    padding-left: 2cm;
    margin-left: 0;
}

pre, code {
    font-family: 'Roboto Mono', monospace;
}

pre {
    background-color: #e9e9e9;
    border-left: 1px solid #666;
    padding: 5pt;
}

@page {
    @footnote {
        font-family: 'Open Sans', sans-serif;
        font-size: 9pt;
        border-top: 1px solid black;
    }

    @bottom-left {
        font-family: 'Economica', sans-serif;
        font-size: 11pt;
        border-top: 1px solid #000;
        vertical-align: top;
        content: string(chaptertitle);
        height: 0.75cm;
        margin: 10pt 0 30pt 0;
        padding-top: 10pt;
    }

    @bottom-right {
        font-family: 'Economica', sans-serif;
        font-size: 11pt;
        border-top: 1px solid #000;
        vertical-align: top;
        content: counter(page) "/" counter(pages);
        height: 0.75cm;
        margin: 10pt 0 30pt 0;
        padding-top: 10pt;
    }

    @top-left {
        content: string(title);
        border-bottom: 1px solid black;
        margin: 30pt 0 10pt 0;
        padding: 0 0 2pt 0;
        font-family: 'Economica', sans-serif;
        font-size: 11pt;
        vertical-align: bottom;
    }

    @top-right {
        content: element(page-top-right-header);
        border-bottom: 1px solid black;
        vertical-align: bottom;
        margin: 30pt 0 10pt 0;
        padding: 0;
    }
}

@page:first {
    @bottom-left {
        content: none;
    }

    @bottom-right {
        content: none;
    }

    @top-left {
        content: none;
    }

    @top-right {
        content: none;
    }
}

#page-top-right-header {
    position: running(page-top-right-header);
    float: right;
    padding-top: 1cm;
}

@media not print {
    #page-top-right-header {
        display: none;
    }
}

#title {
    string-set: title content();
}

div.title-container {
    font-family: 'Economica', sans-serif;
    font-size: 24pt;
    padding: 0pt 0 50pt 0;
}

div.front-page {
    page-break-inside: avoid;
}

#front-logo {
    padding: 50pt 0 100pt 0;
}

.doc-properties {
    padding: 50pt 0 100pt 0;
}

.doc-properties-key {
    text-align: left;
    vertical-align: top;
}

.doc-properties-value {
    text-align: left;
    vertical-align: top;
    padding-left: 5pt;
}

.doc-properties-key:after {
    content: ":";
}

.notice-box {
    border: 1pt solid #434343;
    background-color: #efefef;
    padding: 0.75cm;
    margin: 0.25cm 0 0.25cm 0;
}
